body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;;
}
.hader{
    background: #3E5C9A;
    padding: 9px 0px;
    
}
/* overflow: hidden; er jonno */
.hader::after{
    content: '';
    clear: both;
    display: block;
}
.container{
    width: 65%;
    margin: auto;
    max-width: 1000px;
}
.logo-area img{
    width: 170px;
    margin-top: 15px;
}
.logo-area{
    
    width: 30%;
    float: left;
    
}
.login-area{
    width: 70%;
    float: left;
    color: white;
}
.login-area form{
    float: right;
}
.login-area label,
.login-area input{
    display: block;
}
.login-area .email,
.login-area .password,
.login-area .login{
    float: left;
    margin-right: 13px;
}
.login-area .login{
    margin-right: 0px;
}
.login-area label{
    font-size: 14px;
    margin-bottom: 8px;
}
.login-area input[type="text"],
.login-area input[type="password"]{
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 6px;
}
.login-area .password a{
    text-decoration: none;
    font-weight: 300;
    color: #9cb4d8;
    font-size: 13px;
}
.login-area .password a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"]{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    padding: 3px 5px;
    margin-top: 27px;
}

.singup::after{
    content: '';
    clear: both;
    display: block;
}

.left-area{
 width: 55%;
 float: left;
}
.left-area p{
    font-size: 20px;
    color: #0e385f;
    font-weight: 600;
}
.left-area img{
    width: 100%;
}

.right-area{
 width: 45%;
 float: left;
}

.full-name{

}


.birthdday{

}



.birth-date{

}



.birth-link{

}
.gender{

}



.text-box{

}


.btn{



}
.busuness{
    
}